*{
  margin: 0;
  padding: 0;

}
body{
  height:100vh;
  background: #161513;
  color: white;
  font-family: "Outfit";
}
html{
  scroll-behavior: smooth;
}
.nav-list a {
  color: #5D3A58; /* your default text color, soft violet/dark rose */
  text-decoration: none;
}

.nav-list a:visited,
.nav-list a:focus,
.nav-list a:active {
  color: #5D3A58; /* same as normal */
  outline: none;
  text-decoration: none;
}
