.img {
    margin-top: 10px;
   margin-bottom: 100px;
}
/* Background full screen with soft lavender */
.hero-section {
  background-color: #f9eeff; /* soft light lavender */
  min-height: 100vh;
  margin-bottom: 0px;
  color: #5D3A58;
}

/* Left side profile image */
.hero-img {
  width: 280px;
  height: 280px;
  border: 8px solid #B783A7;
  box-shadow: 0 0 35px rgba(183, 131, 167, 0.5);
  transition: 0.5s;
  margin-top: 100px;
  margin-bottom: 90px;
}

/* Text section */
.hero-name {
  font-size: 3rem;
  font-weight: 700;
  color: #5D3A58;
  text-shadow: 0 0 4px #E6CADC;
}

.hero-role {
    flex: 1;
  font-size: 1.15rem;
  font-weight: 500;
  margin-top: 10px;
  line-height: 1.8;
}

.highlight {
  color: #B783A7;
  font-weight: 600;
}

/* Buttons styled in #B783A7 */
.hero-button {
  background-color: #B783A7;
  color: white;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  font-weight: 500;
  box-shadow: 0 0 10px #d3a3c3, 0 0 20px #d3a3c3;
  transition: all 0.3s ease;
}

.hero-button:hover {
  background-color: #9E6C94;
  box-shadow: 0 0 15px #b783a7, 0 0 25px #b783a7;
}
.row{
    min-height: 30vh;
    align-items: center !important;
}
.image-wrapper {
  display: inline-block;
  padding: 5px;
 
 
  
}

.hero-img {
  width: 230px;
  height: 230px;
  object-fit: cover;
  border-radius: 5%;
  border: 2px solid #B783A7;
  box-shadow: 0 5px 5px rgba(183, 131, 167, 0.15);
  transition: transform 0.3s ease;
}

.hero-img:hover {
  transform: scale(1.04);
}

